{% import 'macros/alertes.html.twig' as utils %}

<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Page de voyages{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{% endblock %}">
        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {% block main %}
                          <h1>
                            Page des voyages
                          </h1>
                          <div>
                              {% for voyage in voyages %}
                               <ul>
                                    {% for key, value in voyage %}
                                    {% if value is defined and value != null %}
                                <li>{{ key }} = {{ value }}</li>
                                {% endif %}
                                    {% endfor %}                
                                </ul>
                                 {% endfor %}
                          </div>
                        {% endblock %}
                    </div>                
                </div>
            {% endblock %}
        </div>


        {% block javascripts %}
            <script src="{{ asset('build/manifest.js') }}"></script>
            <script src="{{ asset('build/js/common.js') }}"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
